body{
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    background-color:#dff7f7;
}
.links{
    
    text-decoration: none;
    color:white;
}
.form{
    margin:10px 8px;
    padding:10px;
}
